.jumbotron{
    padding-top: 5rem;
    background-color: #273036;
}

.pp{
    width: 150px;
    border-radius: 100%;
    transition: 1s ease-in-out;
}

.pp:hover{
    width: 200px;
}

.jumbotron > h2{
    color: white;
    font-weight: 400;
}

.jumbotron > p{
    color: white;
}

.rowam{
    margin-bottom: 80px;
}

#projects{
    background-color: #273036;
}